<mat-nav-list>
  <div class="logo-div">
    <img id="logo" src="logo.png" alt="Logo" />
    <h2>PlatePlan</h2>
  </div>
  <a mat-list-item routerLink="/home" routerLinkActive="active-list-item">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>
  <a mat-list-item routerLink="/recipes" routerLinkActive="active-list-item">
    <mat-icon matListItemIcon>restaurant_menu</mat-icon>
    <span matListItemTitle>Recipes</span>
  </a>
  @if (!isLoggedIn) {
    <a mat-list-item routerLink="/login" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>Login</span>
    </a>
    <a mat-list-item routerLink="/register" routerLinkActive="active-list-item">
      <mat-icon matListItemIcon>person_add</mat-icon>
      <span matListItemTitle>Register</span>
    </a>
  }
  @else {
    <a mat-list-item routerLink="/register" routerLinkActive="active-list-item" (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Logout</span>
    </a>
  }
</mat-nav-list>
