.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.mat-drawer {
    background-color: rgba(171, 199, 252, 0.911);
    width: 360px;
    display: block;
    border-radius: 0px;
}

@media (max-width: 768px) {
    .mat-drawer {
        width: 60px;
    }
}

.content {
    flex: 1;
    display: flex;
    justify-items: center;
    justify-content: center;
}