.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.mat-drawer {
    background-color: rgba(26, 72, 158, 0.911);
    width: 360px;
    display: block;
}

@media (max-width: 768px) {
    .mat-drawer {
        width: 60px;
    }
}

.content {
    flex: 1;
    background-color: white;
}